---
import {HOMEPAGE_URL} from '../../config'
const today = new Date();
---

<footer class='text-zinc-500 p-4 text-center fixed left-0 right-0 bottom-0 mt10'>
	&copy; {today.getFullYear()} <a href={HOMEPAGE_URL}>Songwuk </a>All rights reserved.
</footer>
