---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props;
const isActive = href === Astro.url.pathname.replace(/\/$/, '');
---

<a href={href} class:list={[className, {'underline': isActive, 'hover:text-orange-500': true}]} {...props}>
	<slot />
</a>
<style>
	a {
		display: inline-flex;
		align-items: center;
		text-decoration: none;
		gap: 4px
	}
	a.active {
		font-weight: bolder;
		text-decoration: underline;
	}
	.underline {
		text-decoration-line: underline;
		text-underline-offset: 4px;
		text-decoration-color: rgba(249, 115, 22, 1);
	}
</style>
