---
import BaseHead from '../components/astro/BaseHead.astro';
import Header from '../components/astro/Header.astro';
import Content from '../components/astro/Content.astro';
import Masthead from '../components/astro/Masthead.astro';
import Footer from '../components/astro/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
import Body from '../components/astro/Body.astro';
const posts = (await Astro.glob('./blog/*.{md,mdx}')).sort(
	(a:any, b:any) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
)
---

<!DOCTYPE html>
<html lang='en'>
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<Body>
		<Header/>
		<main class='pt-[56px]'>
				<Masthead />
				<Content>
					<section>
						<ul class='grid grid-cols-1 md:grid-cols-3 gap-4 md:cursor-pointer grid-text-left'>
							{posts.map((post, i) => (
								<li class="flex justify-between md:text-center  md:block">
									<a href={post.url}>
										<span>{post.frontmatter.title}</span>
										<span>{new Date(post.frontmatter.pubDate).toLocaleDateString('en-us', {
													year: 'numeric',
													month: 'short',
													day: 'numeric',
												})}</span>
									</a>
								</li>
							))}
						</ul>
						</section>
				</Content>
		</main>
		<Footer />
	</Body>
</html>
