
<div class="my-4 flex items-center gap1">
  <a href="/" class="underfine underfine-offset-2">Index</a>
  <div class="i-material-symbols-arrow-forward-ios-rounded"></div>
  <span class="text-orange-500 font-ubuntu font-bold"><slot/></span>
</div>