---
import HeaderLink from './HeaderLink.astro';
import ThemeToggle from './ThemeToggleButton.vue'
import DropdownMenu from './DropdownMenu.vue'
import ThemeTranslations from './ThemeTranslations.vue'

const allBlogs = await Astro.glob('../pages/blog/*.md')
const allTags = new Set<string>()
allBlogs.map(blog => {
	blog.frontmatter.tags && blog.frontmatter.tags.map((tag:string) => allTags.add(tag))
})
---

<header class="fixed w-full p-2 z-20 backdrop-blur-md"> 
	<div class="mx-auto max-w-3xl">
	<nav class="flex items-center gap-3 text-base">
		<a href="/" class="group">
			<h2 class="font-semibold tracking-tighter p-2 font-ubuntu  text-lg m-0">
				Songwuk
			</h2>
		</a>
		<div class="items-center gap-6 hidden md:flex">
			<HeaderLink href='/projects/project'>Project</HeaderLink>
			<HeaderLink href='/posts/blog'>Blog</HeaderLink>
			<HeaderLink href="https://github.com/songwuk/songwuk.cc" target="_blank">
				<div i-carbon-logo-github></div>
					Source
			</HeaderLink>
		</div>
		<div flex-1 />
		<ThemeToggle client:load />
		<ThemeTranslations client:load />
		<DropdownMenu client:load tags={Array.from(allTags)}/>
	</nav>
</div>
</header>
<style>
	header {
		margin: 0em 0 2em;
	}
	h2 {
		margin: 0.5em 0;
	}
</style>
