--- 
import WriteTyper from './WriteTyperContent.vue'
import CanavsText from './CanvasText.vue'
---
<section class="relative mb-6 h-80 flex justify-center items-center">
  <div class="absolute w-full h-full overflow-hidden">
    <CanavsText client:load />
  </div>
  <div class='z-10 text-center px-8 drop-shadow-lg shadow-black m-t-15'>
    <div class='text-4xl font-ubuntu font-medium pagetyper'>
      <WriteTyper client:load />
    </div>
  </div>
</section>
